@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Roboto";
  background: linear-gradient(grey, black);
  overflow: scroll;
}



@import "scss/product";
@import "scss/login";
@import "scss/register";
@import "scss/home";
@import "scss/header";


