<h2 class="default-title">
    Управление категориями
</h2>

<section>
    <fieldset>
        <legend>Add new category</legend>
        <form action="" class="category-form">
            <input id="input-ru" type="text" placeholder="Create categories ru">
            <input id="input-en" type="text" placeholder="Create categories en">

            <select name="" id="">

            </select>

            <button>Add categories</button>
        </form>
    </fieldset>
</section>



<section>
    <fieldset>
        <legend>Categories list</legend>

        <table class="default-table">
            <thead>
            <tr>
                <td>id:</td>
                <td>title-ru:</td>
                <td>title_en:</td>
                <td>parent:</td>
                <td>remote:</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Refrigerators</td>
                <td>Refrigerators</td>
                <td>--</td>
                <td><a href="" title="delete">delete</a> <a href="">edit</a></td>
            </tr>
            <tr>
                <td>id:</td>
                <td>title-ru:</td>
                <td>title_en:</td>
                <td>parent:</td>
                <td>remote:</td>
            </tr>
            <tr>
                <td>id:</td>
                <td>title-ru:</td>
                <td>title_en:</td>
                <td>parent:</td>
                <td>remote:</td>
            </tr>
            <tr>
                <td>id:</td>
                <td>title-ru:</td>
                <td>title_en:</td>
                <td>parent:</td>
                <td>remote:</td>
            </tr>

            </tbody>
        </table>
    </fieldset>
</section>