<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>11111</title>
    <link rel="stylesheet" href="/views/styles/style.css">
</head>
<body>
<header>
    <div class="header__logo">
        <img src="/views/image/Vanamo_Logo.png" alt="">
    </div>
    <div class="header__menu">
        <a class="menu__link" href="/">Home</a>
        <a class="menu__link" href="/about">About</a>
        <a class="menu__link" href="/products">Products</a>
        <a class="menu__link" href="/contacts">Contacts</a>
    </div>
</header>