<section>
    <form action="" method="post">
        <input type="text" placeholder="Enter your login" name="login">
        <input type="password" placeholder="Enter your password" name="password">
        <input type="email" placeholder="Enter yor=ur email" name="email">
        <button>Login...</button>
    </form>
</section>