<form action="" method="post">
    <input type="text" placeholder="Login" name="login">
    <input type="password" placeholder="Password" name="password">
    <button type="submit" name="log">Log in</button>
</form>