<div class="container">
    <a class="waves-effect black btn link link__product" href="/">
        <i class="icon material-icons arrow_back">arrow_back</i>
        Back
    </a>

    <h1>{{ title }}</h1>
    <h2><i>{{ description }}</i></h2>
    <p>{{ price }}</p>
    <img src="/uploads/{{img}}" alt="noImg">



</div>





