



<h1>Register form</h1>
<section class="register__block">
    <form action="" method="post">
        <input type="email" placeholder="Email" name="email">
        <input type="text" placeholder="Login" name="login">
        <input type="password" placeholder="Password" name="password">
        <button type="submit" name="register">Register</button>
    </form>
</section>




